.search {
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding: 0.5rem 1rem;
	border-radius: 50px;
}

.search__inpt {
	width: 90%;
	padding: 0.2rem;
	text-indent: 5px;
	border: none;
	outline: none;
	font-size: 1rem;
}

.search__btn {
	border: none;
	outline: none;
	background: none;
	width: 5%;
}
